*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
.button-blu{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}
.button-white{
    padding: 10px 20px;
    color: black;
    border: 1px solid black;
    font-size: 1.5em;
    text-decoration: none;
}


ANCHOR/* NAV */
header{
    width: 100%;
}
.menu-principale{
    width: 100%;
    position: fixed;
    padding-top: 30px;
    padding-bottom: 22px;
    background-color: white;
    z-index: 2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
}
.menu-sx{
    width: 50%;
    margin-left: 20px;
}
.menu-dx{
    width:calc(50%-40px);
    text-align: right;
    margin-right: 20px;
}
.menu-sx img{
    vertical-align: middle;
    margin-bottom: 10px;
}
.menu-sx ul li{
    display: inline-block;
    list-style-type: none;
}
.menu-sx ul li a{
    padding: 30px 0;
    margin-left: 20px;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}
.menu-sx ul li a:hover{
    border-bottom: 1px solid black;
}

.menu-dx ul li{
    display: inline-block;
    list-style-type: none;
}
.menu-dx ul li a{
    padding:30px 0;
    margin-right: 20px;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}
.menu-dx ul li a:hover{
    border-bottom: 1px solid black;
}
.menu-dx ul .button-blu:hover{
   background-color: rgb(155, 200, 221);
}
/* FINE NAV */
/* HERO */
.hero{
    width: 100%;
    background-color: rgba(180,208,231,255);
    padding-top: 150px;
    position: relative;
}
.cont-hero{
    width: 70%;
    margin: auto;
}
.cont-hero h2{
    text-align: left;
    font-size: 4em;
    margin-bottom: 20px;
}
.col-txt-img{
    width: 70%;
    margin: auto;
}
.col-txt-img img{
    width: 100%;
    margin-bottom: -50px;
}
.cont-txt{
    width: 30%;
}
.cont-txt .primo-p{
    padding: 15px;
    font-size: 1.2em;
}
.cont-txt div{
    padding-top: 30px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.fa-arrow-down{
    padding-top: 40px;
    margin-left: 20px;
    font-size: 3em;
    font-weight: bold;
}
.cont-txt .secondo-p{
    margin-left: 15px;
    font-size: 1.2em;
}
.cont-img{
    width: 60%;
}
/* FINE HERO */

/* INIZIO MAIN */
.prima-sezione{
    width: 70%;
    margin: auto;
    margin-top: 10px;
}
.prima-sezione .titolo-prima-sez{
    padding: 50px 0;
    font-size: 2.3em;
    margin-top: 50px;
}
.radio label{
    margin-right: 10px;
    font-size: 1.2em;
}
/* INIZIO COLONNE */
.cont-col{
    width: 100%;
    margin-top: 40px;
}
.col-1{
    width: calc((100% / 3) - 40px);
    
}
.col-cen{
    margin-left: 60px;
    margin-right: 60px;
}
.titolo-col-1{
    width: 100%;
}
.body-col-1{
    width: 100%;
    min-height: 1200px;
}
.col-1 .titolo-col-1{
    border: 1px solid black;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
}

.col-1 .body-col-1{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.body-col-1 p{
    padding: 20px 0;
    font-size: 1.5em;
    text-align: left;
}
.margin-left{
    margin-left: 20px;
}
.body-col-1 .icona{
    margin-top: 40px;
    text-align: left;
}

.funzioni{
    margin-bottom: 30px;
}
.effetto:hover{
        background-color: rgba(99, 172, 231, 0.966);
}
.bottone-cen{
    width: 90%;
    margin: auto;
    text-align: center;
}

.acquista{
    margin-top: 20px;
    padding: 0;
}
.acquista a{
    text-decoration: none;
    color: blue;
}
.acquista a:hover{
    text-decoration: underline;
}
.riga{
    width: 15%;
    border-top: 1px solid rgba(0, 0, 0, 0.192);
    margin-bottom: 20px;
}
.punti-sal{
    font-size: 1.5em;
}
.body-col-1 *{
    margin-right: 20px;
}
.body-col-1 h2{
    font-size: 2em;
    padding-top: 20px;
}
.body-col-1 h3{
    padding-bottom: 20px;
}

.body-col-1 ul{
    margin-left: 20px;
    font-size: 1.5em;
    padding-bottom: 100px;
}
.body-col-1 ul li{
    padding: 10px 0;
    margin-left: 25px;    
}
.lista li{
    list-style-type: none;
    
}
.lista li::marker{
    content: "\2713 ";
    color: blue;
    font-weight: bolder;
    letter-spacing: 7px;
}
/* FINE COLONNE */

/* INIZIO SECONDA SEZIONE */
.seconda-sez{
    width: 70%;
    margin: auto;
}
.team{
    width: 100%;
    border: 1px solid black;
    text-align: center;
    margin-top: 50px;
}
.team span{
    display: inline-block;
    padding: 15px;
    font-size: 2em;
}
.cont-enterprise{
    width: 100%;
    padding-top: 30px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 100px;
}
.enterprise{
    font-size: 3em;
}
.cont-2{
    width: 100%;
}
.cont-2 .left{
    margin-left: 20px;
}
.cont-2 .right{
    margin-right: 20px;
}
.cont-enterprise h4{
    margin-left: 20px;
    font-size: 2em;
    padding-top: 30px;
}
.cont-enterprise p{
    margin-left: 20px;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 20px;
}
.foto-txt{
    width: 100%;
}
.foto{
    width: 50%;
}
.foto img{
    width: 100%;
    
}
.txt{
    width: 50%;
    padding: 30px;
}
.txt h2{
    font-size: 2.5em;
    padding-bottom: 30px;
}
.txt p{
    font-size: 1.5em;
    padding-bottom: 40px;
}
/* FINE SEZIONE 2 */

/* INIZIO SEZIONE 3 RIGHE E COLONNE */
.righe-e-colonne{
    width: 70%;
    margin: auto;
    padding-bottom: 90px;
}
.esegui{
    padding-top: 100px;
    padding-bottom: 40px;
    font-size: 3.5em;
}
.colum{
    width: calc((100%/3) - 30px);
    margin-right: 30px;
}
.cont-img1{
    width: 100%;
}
.cont-img1 img{
    width: 100%;
}
.colum h3{
    padding: 20px 0;
    font-size: 2em;
}
.colum p{
    font-size: 1.6em;
}
.colum p a{
    color: black;
}
.colum p a:hover{
    text-decoration: none;
}
.row-2{
    margin-top: 100px;
}
/* FINE SEZIONE 3 RIGHE E COLONNE */

/* INIZIO SEZIONE 4 QUADRATI COLORATI */
.quadrati-colorati{
    width: 100%;
}
/* COLONNA SINISTRA */
.quadrati{
    width: 30%;

}
.top-sx{
    background-color: rgba(162,211,155,255);
    width: 50%;
    height: 250px;

    
}
.top-sx img{
    width: 100%;
    filter: invert(2);
    padding: 30px;
    padding-top: 100px;
    padding-bottom: 85px;
}
.top-dx{
    background-color: rgba(97,8,43,255);
    width: 50%;
    padding: 50px;
    height: 250px;


}
.top-dx img{
    width: 100%;
    filter: invert(2);    
}
.bot-sx{
    background-color: rgba(0,147,206,255);
    width: 50%;
    height: 250px;
}
.bot-dx{
    background-color: rgba(255,28,28,255);
    width: 50%;
    padding: 50px;
    height: 250px;
}
.bot-sx img{
    width: 100%;
    filter: invert(2);
    padding: 30px;
    padding-top: 100px;
    padding-bottom: 85px;
}
.bot-dx img{
    width: 100%;
    filter: invert(2);  
    margin-top: 20px;
}
/* FINE COLONNA SINISTRA */

/* COLONNA CENTRALE */
.quadrati-cen{
    width: 40%;
    background-color: rgba(245,245,245,255);
    max-height: 500px;
    min-height: 500px;
}

.cont-img-logo img{
    height: 80px;
}
.txt-cen{
    padding: 30px;
}
.txt-cen h2{
    font-size: 4em;
    display: inline-block;
}
.company{
    font-size: 1.5em;
    padding-top: 40px;
    padding-bottom: 50px;
}
.firma{
    font-size: 1.5em;
}
.txt-cen .riga{
    margin-top: 60px;
}
.scroll{
    overflow-y: auto;
}
/* FINE COLONNA CENTRALE */

/* INIZIO COLONNA DESTRA */
.quadrati-colorati-dx{
    width: 30%;
}
.bot-sx-2{
    background-color: rgba(255,216,48,255);
    width: 50%;
    height: 250px;
}
.bot-dx-2{
    background-color: rgba(255,28,28,255);
    width: 50%;
    padding: 40px;
    height: 250px;
}
.bot-sx-2 img{
    width: 100%;
    filter: invert(2);
    padding: 30px;
    padding-top: 90px;
}
.bot-dx-2 img{
    width: 100%;
    filter: invert(2);  
    margin-top: 20px;
}
.top-sx-2{
    background-color: rgba(213,0,31,255);
    width: 50%;
    height: 250px;

    
}
.top-sx-2 img{
    width: 100%;
    filter: invert(2);
    padding: 30px;
    padding-top: 90px;
    padding-bottom: 100px;
}
.top-dx-2{
    background-color: rgba(180,208,231,255);
    width: 50%;
    padding: 50px;
    height: 250px;


}
.top-dx-2 img{
    width: 100%;
    filter: invert(2); 
    padding-top: 70px;   
}
/* FINE COLONNA DESTRA */
/* FINE SEZIONE 4 */

/* INIZIO QUINTA SEZIONE */
.quinta-sez{
    width: 100%;
    background-color: rgba(180,208,231,255);
    margin-bottom: 150px;
}
.cont-quinta-sez{
    width: 70%;
    margin: auto;
}
.txt-quinta-sez{
    width: 50%;
    font-size: 2em;
    padding-top: 90px;
    padding-bottom: 90px;
    color: rgba(97,8,43,255);
}
.bottone-quinta-sez{
    width: 50%;
    text-align: right;
    padding-top: 105px;
}
.bottone-quinta-sez a{
    background-color: white;
    border: none;
}
.bottone-quinta-sez a:hover{
    background-color: rgba(245,245,245,255);
}
/* FINE QUINTA SEZIONE */
/* INIZIO SESTA SEZIONE */
.sesta-sez{
    width: 70%;
    margin: auto;
    padding-bottom: 200px;
}
.sesta-sez h2{
    font-size: 4em;
    padding-bottom: 50px;
}
.border{
    border-top: 1px solid rgba(0, 0, 0, 0.219);
}
.cont-txt-sesta-sez{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
    padding-top: 20px;
    padding-bottom: 20px;
}
.titolo-sesta-sez{
    width: 90%;
    font-size: 1.5em;
}
.icona-sesta-sez{
    width: 10%;
}

.scomparsa{
    display: none;
    font-size: 1.3em;
    padding-top: 20px;
}
.icona-sesta-sez:hover + .scomparsa{
    display: inline-block;
}
.icona-sesta-sez{
    text-align: right;
}
.icona-sesta-sez i{
    margin-right: 30px;
    margin-top: 5px;
    font-size: 1.5em;
}
.icona-sesta-sez i:last-child {
    display: none;  
  }
.icona-sesta-sez:hover i:last-child {
    display: block;  
  }
.icona-sesta-sez:hover i:first-child {
    display: none;  
  }
  /* FINE SESTA SEZIONE */
  /* INIZIO FOOTER */
