*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
.button-blu{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}


ANCHOR/* NAV */
header{
    width: 100%;
}
.menu-principale{
    width: 100%;
    position: fixed;
    padding-top: 30px;
    padding-bottom: 22px;
    background-color: white;
    z-index: 2;
}
.menu-sx{
    width: 50%;
    margin-left: 20px;
}
.menu-dx{
    width:calc(50%-40px);
    text-align: right;
    margin-right: 20px;
}
.menu-sx img{
    vertical-align: middle;
    margin-bottom: 10px;
}
.menu-sx ul li{
    display: inline-block;
    list-style-type: none;
}
.menu-sx ul li a{
    padding: 30px 0;
    margin-left: 20px;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}
.menu-sx ul li a:hover{
    border-bottom: 1px solid black;
}

.menu-dx ul li{
    display: inline-block;
    list-style-type: none;
}
.menu-dx ul li a{
    padding:30px 0;
    margin-right: 20px;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}
.menu-dx ul li a:hover{
    border-bottom: 1px solid black;
}
.menu-dx ul .button-blu:hover{
   background-color: rgb(155, 200, 221);
}
/* FINE NAV */
/* HERO */
.hero{
    width: 100%;
    background-color: rgba(180,208,231,255);
    padding-top: 150px;
    position: relative;
}
.cont-hero{
    width: 70%;
    margin: auto;
}
.cont-hero h2{
    text-align: left;
    font-size: 4em;
    margin-bottom: 20px;
}
.col-txt-img{
    width: 70%;
    margin: auto;
}
.col-txt-img img{
    width: 100%;
    margin-bottom: -50px;
}
.cont-txt{
    width: 30%;
}
.cont-txt .primo-p{
    padding: 15px;
    font-size: 1.2em;
}
.cont-txt div{
    padding-top: 30px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.fa-arrow-down{
    padding-top: 40px;
    margin-left: 20px;
    font-size: 3em;
    font-weight: bold;
}
.cont-txt .secondo-p{
    margin-left: 15px;
    font-size: 1.2em;
}
.cont-img{
    width: 60%;
}
/* FINE HERO */

/* INIZIO MAIN */
.prima-sezione{
    width: 70%;
    margin: auto;
    margin-top: 10px;
}
.prima-sezione .titolo-prima-sez{
    padding: 50px 0;
    font-size: 2.3em;
    margin-top: 50px;
}
.radio label{
    margin-right: 10px;
    font-size: 1.2em;
}
.radio input{
    li
}
.cont-col{
    width: 100%;
    margin-top: 40px;
}
.col-1{
    width: calc((100% / 3) - 60px);
    margin-right: 60px;
}
.titolo-col-1{
    width: 100%;
}
.body-col-1{
    width: 100%;
}
.col-1 .titolo-col-1{
    border: 1px solid black;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
}

.col-1 .body-col-1{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.body-col-1 p{
    padding: 20px 0;
    font-size: 1.5em;
    text-align: left;
}
.margin-left{
    margin-left: 20px;
}
.body-col-1 .icona{
    margin-top: 40px;
    text-align: left;
}

.funzioni{
    margin-bottom: 30px;
}
.effetto:hover{
        background-color: rgba(99, 172, 231, 0.966);
}
.acquista{
    margin-top: 20px;
    padding: 0;
}
.acquista a{
    text-decoration: none;
    color: blue;
}
.acquista a:hover{
    text-decoration: underline;
}
.riga{
    width: 15%;
    border-top: 1px solid rgba(0, 0, 0, 0.411);
    margin-bottom: 20px;
}
.punti-sal{
    font-size: 1.5em;
}
.body-col-1 *{
    margin-right: 20px;
}
.body-col-1 h2{
    font-size: 2em;
    padding-top: 20px;
}
.body-col-1 h3{
    padding-bottom: 20px;
}

.body-col-1 ul{
    margin-left: 20px;
    font-size: 1.5em;
    padding-bottom: 100px;
}
.body-col-1 ul li{
    padding: 10px 0;
    margin-left: 20px;    
}


